<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation=
                "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
        xmlns:context="http://www.springframework.org/schema/context"
        这个xmlns用来引入context的加载标签的.
    -->


    <!-- 加载jdbc.properties配置文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />


    <!-- 创建一个C3P0的Bean spring会读取创建 -->
    <bean id="dataSourceByC3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
        <!--
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test" />
        <property name="user" value="root" />
        <property name="password" value="root" />
        -->

        <!-- 将value元素的值改成SpEL表达式 -->
        <!-- 这样的好处就是 spring的配置文件 和 数据库的配置文件 分开了 -->
        <property name="driverClass" value="${jdbc.driver}" />
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>



    <!-- 配置DAO层 -->
    <!--<bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl" scope="prototype" />-->
    <!-- 配置service层 -->
    <!--<bean id="userService" class="com.itheima.service.impl.UserServiceImpl" scope="prototype" >
        &lt;!&ndash; 注入DAO层 &ndash;&gt;
        <property name="userDao" ref="userDao" />
    </bean>-->


    <!-- 使用注解进行开发时, 需要配置扫描组件 这样才能够到指定的包下面扫描类的注解否则spring仍然不会知道 然后创建Bean -->
    <context:component-scan base-package="com.itheima" />




</beans>
