<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- 配置全局过滤器 -->
    <filter>
        <filter-name>CharacterEncoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <!-- 配置初始化参数 -->
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- 配置Spring-webmvc前端控制器信息 DispatcherServlet(springframework下面的) -->
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 设置初始化参数传递给  DispatcherServlet 类(注意这个初始化参数的位置有坑 不能随便放 放在servlet-class下面) -->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <!--
                maven的classpath路径指的是: src/main/resources/...文件
            -->
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <!-- 表示第一次即创建改类 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <!--
            所有前端的请求地址 都必须先经过DispatcherServlet 不然框架就白用了
            /所匹配的请求可以是/login或.html或.js或.css方式的请求路径
            但是/不能匹配.jsp请求路径的请求

            / 就被翻译为了, 除.jsp类型的路由不进行处理之外, 其他的均进行处理.
                如果, 连同 .jsp请求一块处理, 那么前端就看不到对应的界面了, 比如用户想要跳转到登陆界面,
                反而被DispatcherServlet进行处理了. 而且jsp的本质是一个servlet. 这样会有其他的专门的servlet处理jsp界面,
                并不需要DispatcherServlet来处理jsp界面.
            /* 就被翻译为了, 处理所有路由, 包括.jsp类型的.
        -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>



    <!-- 全局初始化参数 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>



    <!-- 配置userServlet的路由地址 -->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.itheima.web.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>


    <!-- 配置listener监听器 -> 这个是手动写的一个监听器 -->
    <listener>
        <listener-class>com.itheima.listener.ContextLoaderListener</listener-class>
    </listener>


    <!-- 现在更改成spring-web框架的监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>
